menu:
  apollo13: Apollo 13
  b-human: B-Human
  radau: RADAU
  sahara: SAHARA
  smart-energy: Smart Energy
  spatial: Spatial
  virtual-logistic-lab-2: Virtual Logistic Lab 2.0
  gplusplus: GGP++
  estudent: eStudent
  syncreal: syncReal
  chip4u: CHIP4U
  act: ACT
deploy:
  pull-repo: git@github.com:USER/PROJECT.git # read-only
  push-repo: git://github.com/USER/PROJECT.git # writable
  to: USER@HOST:PATH # SSH, needs write access
