menu:
  act: ACT
  augment: AUGMENT
  auv12: AUV12
  b-human: B-Human
  chip4u: Chip4U
  estudent: eStudent
  facil: facil
  gobi: GOBI
  itac: iTac
  mobile4d: mobile4D
  parpro: ParPro
  piripiri: Piri Piri
  syncreal: SyncReal
  vll2: VLL2.0
  impossible-worlds: Impossible Worlds
deploy:
  pull-repo: git@github.com:USER/PROJECT.git # read-only
  push-repo: git://github.com/USER/PROJECT.git # writable
  to: USER@HOST:PATH # SSH, needs write access
