@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-thin-webfont.eot');
    src: url('../fonts/raleway-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-thin-webfont.woff') format('woff'),
         url('../fonts/raleway-thin-webfont.ttf') format('truetype'),
         url('../fonts/raleway-thin-webfont.svg#RalewayThin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: url('../fonts/cabin-bold-webfont.eot');
    src: url('../fonts/cabin-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin-bold-webfont.woff') format('woff'),
         url('../fonts/cabin-bold-webfont.ttf') format('truetype'),
         url('../fonts/cabin-bold-webfont.svg#CabinBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: url('../fonts/cabin-regular-webfont.eot');
    src: url('../fonts/cabin-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin-regular-webfont.woff') format('woff'),
         url('../fonts/cabin-regular-webfont.ttf') format('truetype'),
         url('../fonts/cabin-regular-webfont.svg#CabinRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
  font: normal 14px/23px 'Cabin', 'DejaVu Sans Condensed', 'Arial Narrow', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
  font-weight: 100;
  font-family: 'Raleway', 'DejaVu Sans', Tahoma, Helvetica, Arial, sans-serif;
  letter-spacing: -0.05em;
}

h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 22px; }

address {
  font-style: normal;
}
