html {
  width: 1000px;
  max-width: 90%;
  margin: 20px auto 50px;
  padding: 0 0 50px;
  background: #eee;
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  font: normal 13px/20px "DejaVu Sans Condensed", "Arial Narrow", Helvetica, Arial, sans-serif;
}

body.red {
  background: #fff url(body-bg-red.png) top left no-repeat;
}

body.blue {
  background: #fff url(body-bg-blue.png) top left no-repeat;
}

div#page {
  background: transparent url(page-bg.png) bottom right no-repeat;
}

header, article, footer {
  display: block;
  padding: 15px;
}

header ul, nav ul, footer ul {
  list-style: none;
  padding: 0;
}

header {
  color: #fff;
  position: relative;
  height: 120px;
}

body.red header a,
body.blue header a {
  color: #fff;
}

header h1 {
  margin: 0;
}

header h1 a {
  display: block;
  height: 140px;
  background: transparent url(header-bg.png) top left no-repeat;
}

header a span {
  display: none;
}

header a#color-switch {
  display: block;
  background: url(color-switch.png) bottom center no-repeat;
  width: 30px;
  height: 20px;
}

body.blue header a#color-switch {
  background-position: top center;
}

header ul {
  position: absolute;
  bottom: 0;
  right: 15px;
  padding-left: 40px;
  background: url(fb3logo.png) left center no-repeat;
}

header li {
  width: auto;
}

a {
  font-weight: bold;
  text-decoration: none;
}

body.red a {
  color: #A40000;
}

body.blue a {
  color: #2D699A;
}

a:hover {
  text-decoration: underline;
}

nav {
  display: block;
  margin-top: 20px;
  width: 250px;
  float: left;
}

body.red nav a,
body.blue nav a {
  display: block;
  position: relative;
  line-height: 30px;
  font-weight: normal;
  padding: 0 0 0 15px;
  z-index: 1;
  color: #fff;
}

nav a.active {
  background: #fff;
  font-weight: bold;
}

body.red nav a.active {
  color: #A40000;
}

body.blue nav a.active {
  color: #2D699A;
}

nav a:hover {
  background: rgba(255,255,255,0.5);
  text-decoration: none;
  z-index: 2;
}

nav ul li a {
  background: rgba(255,255,255,0.25);
  margin: 15px 0 5px;
}

nav ul li a:hover {
  color: #fff;
}

nav ul ul li a {
  background: transparent;
  color: #fff;
  margin: 0;
}

article {
  margin: 50px 0 0 250px;
  padding-right: 50px;
}

footer {
  clear: both;
  font-size: small;
  text-align: right;
}

footer ul {
  margin: 50px 0 0;
}

footer li {
  display: inline;
}

img {
  max-width: 100%;
}

a img {
  border: none;
}

p.right, p.logo {
  margin: 0;
  float: right;
}

p.logo {
  margin: 0 0 15px 15px;
}

img.logo {
  vertical-align: middle;
  margin: 10px;
}
